body {
  margin: 0;
}

.horizontal-view-container {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

.vertical-view-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.view {
  width: 100%;
  cursor: pointer;
}

.horizontal-view {
  max-height: 150px;
}

